### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [51]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [52]:
#Calculate the total number of schools
total_schools = school_data_complete["school_name"].unique()
total_sch=len(total_schools)
total_sch

15

In [53]:
#Calculate the total number of students
total_students= school_data_complete["student_name"]
total_st=len(total_students)
total_st

39170

In [54]:
#Calculate the total budget
total_budget= sum(school_data_complete["budget"].unique())
total_budget

24649428

In [55]:
#Calculate the average math score
avg_math = sum(school_data_complete["math_score"])/len(school_data_complete["math_score"])
avg_math

78.98537145774827

In [56]:
#Calculate the average reading score
avg_reading = sum(school_data_complete["reading_score"])/len(school_data_complete["reading_score"])
avg_reading

81.87784018381414

In [57]:
# Calculate the overall passing rate
overall_passing_score = (avg_math + avg_reading)/2
overall_passing_score

80.43160582078121

In [58]:
# Calculate the percentage of students with a passing math score (70 or greater)
passing_math_score = (school_data_complete[school_data_complete['math_score']>=70]['student_name'].count())/total_st*100
passing_math_score

74.9808526933878

In [59]:
# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_score = (school_data_complete[school_data_complete['reading_score']>=70]['student_name'].count())/total_st*100
passing_reading_score

85.80546336482001

In [60]:
# Create a dataframe to hold the above results and formatting
district_stats = {
    'Total Schools':total_sch,
    'Total Student':total_st,
    'Total Budget':'${:,.2f}'.format(total_budget),
    'Average Math Score':avg_math,
    'Average Reading Score':avg_reading,
    '% Passing Math':passing_math_score,
    '% Passing Reading':passing_reading_score,
    '% Overall Passing Score':overall_passing_score
    }

district_summery = pd.DataFrame(district_stats, index=[0])
district_summery

,Total Schools,Total Student,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Score
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [61]:
# Grouped our complete data frame by school name 
grouped_school = school_data_complete.groupby(['school_name'])
# Calculate the total student for each school
total_student_by_school = grouped_school.size()
total_student_by_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
dtype: int64

In [62]:
# Get the school type for each school
school_type = grouped_school['type'].first()
school_type

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [63]:
# Calculate the total budget for each school
total_budget = grouped_school['budget'].first()
total_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [64]:
# Calculate the budget per student for each school
t_budget_per_student = total_budget/total_student_by_school
t_budget_per_student

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [65]:
# Calculate the average math score for each school
avg_math_by_school=grouped_school["math_score"].mean()
avg_math_by_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [66]:
# Calculate the average reading score for each school
avg_reading_by_school=grouped_school["reading_score"].mean()
avg_reading_by_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [67]:
# Calculate the percentange of passing math score for each school
grouped_passing_math = school_data_complete[school_data_complete['math_score']>=70].groupby(['school_name']).size()
percent_passing_math = (grouped_passing_math/total_st)*100
percent_passing_math

school_name
Bailey High School       8.470768
Cabrera High School      4.465152
Figueroa High School     4.968088
Ford High School         4.776615
Griffin High School      3.500128
Hernandez High School    7.898902
Holden High School       1.008425
Huang High School        4.891499
Johnson High School      8.029104
Pena High School         2.323207
Rodriguez High School    6.775594
Shelton High School      4.220066
Thomas High School       3.893286
Wilson High School       5.471024
Wright High School       4.288997
dtype: float64

In [71]:
# Calculate the percentange of passing math score for each school
grouped_passing_reading = school_data_complete[school_data_complete['reading_score']>=70].groupby(['school_name']).size()
percent_passing_reading = (grouped_passing_reading/total_st)*100
percent_passing_reading

school_name
Bailey High School       10.408476
Cabrera High School       4.603013
Figueroa High School      6.078632
Ford High School          5.545060
Griffin High School       3.640541
Hernandez High School     9.568547
Holden High School        1.049272
Huang High School         6.055655
Johnson High School       9.872351
Pena High School          2.356395
Rodriguez High School     8.189941
Shelton High School       4.309420
Thomas High School        4.061782
Wilson High School        5.626755
Wright High School        4.439622
dtype: float64

In [75]:
# Calculate the overall passing score for each school
percent_overall_passing = (percent_passing_math + percent_passing_reading)/2
percent_overall_passing

school_name
Bailey High School       9.439622
Cabrera High School      4.534082
Figueroa High School     5.523360
Ford High School         5.160837
Griffin High School      3.570334
Hernandez High School    8.733725
Holden High School       1.028849
Huang High School        5.473577
Johnson High School      8.950728
Pena High School         2.339801
Rodriguez High School    7.482767
Shelton High School      4.264743
Thomas High School       3.977534
Wilson High School       5.548889
Wright High School       4.364309
dtype: float64

In [77]:
# Create and format a dataframe to hold the above results 
school={
    'School Type': school_type,
    'Total Students':total_student_by_school,
    'Total School Budget':total_budget,
    'Per Student Budget':t_budget_per_student,
    'Average Math Score': avg_math_by_school,
    'Average Reading Score': avg_reading_by_school,
    '% Passing Math': percent_passing_math,
    '% Passing Reading': percent_passing_reading,
    '% Overall Passing Rate': percent_overall_passing
}
school_summary = pd.DataFrame(school)

displayed_school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:,.2f}".format)
displayed_school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map("${:,.2f}".format)

displayed_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,8.470768,10.408476,9.439622
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,4.465152,4.603013,4.534082
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,4.968088,6.078632,5.523360
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,4.776615,5.545060,5.160837
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,3.500128,3.640541,3.570334
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,7.898902,9.568547,8.733725
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,1.008425,1.049272,1.028849
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,4.891499,6.055655,5.473577
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,8.029104,9.872351,8.950728
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,2.323207,2.356395,2.339801
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,6.775594,8.189941,7.482767
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,4.220066,4.309420,4.264743
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,3.893286,4.061782,3.977534
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,5.471024,5.626755,5.548889
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,4.288997,4.439622,4.364309

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [80]:
top_performing_schools = (displayed_school_summary.sort_values(['% Overall Passing Rate'], ascending=False)).head()
top_performing_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,8.470768,10.408476,9.439622
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,8.029104,9.872351,8.950728
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,7.898902,9.568547,8.733725
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,6.775594,8.189941,7.482767
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,5.471024,5.626755,5.548889

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [81]:
bottom_performing_schools = (displayed_school_summary.sort_values(['% Overall Passing Rate'], ascending=True)).head()
bottom_performing_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,1.008425,1.049272,1.028849
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,2.323207,2.356395,2.339801
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,3.500128,3.640541,3.570334
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,3.893286,4.061782,3.977534
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,4.220066,4.309420,4.264743

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [82]:
#create series for each grade and group by school names
ninth_math = school_data_complete.loc[school_data_complete['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math = school_data_complete.loc[school_data_complete['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math = school_data_complete.loc[school_data_complete['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math = school_data_complete.loc[school_data_complete['grade'] == '12th'].groupby('school_name')["math_score"].mean()

In [83]:

# Create a dataframe to hold the above results 
mathscores=pd.DataFrame({
    '9th': ninth_math,
    '10th':tenth_math,
    '11th':eleventh_math,
    '12th':twelfth_math,
    
})

mathscores = mathscores[['9th', '10th', '11th', '12th']]
mathscores.index.name = "School"
mathscores

                             9th       10th       11th       12th
School
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [84]:

#create series for each grade and group by school names
ninth_reading = school_data_complete.loc[school_data_complete['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_reading = school_data_complete.loc[school_data_complete['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_reading = school_data_complete.loc[school_data_complete['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_reading = school_data_complete.loc[school_data_complete['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

In [85]:
# Create a dataframe to hold the above results 
readingscores=pd.DataFrame({
    '9th': ninth_reading,
    '10th':tenth_reading,
    '11th':eleventh_reading,
    '12th':twelfth_reading,
    
})

readingscores = readingscores[['9th', '10th', '11th', '12th']]
readingscores.index.name = "School"
readingscores

                             9th       10th       11th       12th
School
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [88]:
# Sample bins. Feel free to create your own bins.
bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [89]:
school_data_complete["Spending Ranges"] = pd.cut(school_data_complete['budget']/school_data_complete['size'], bins, labels=group_names)

# group by spending
school_summary_by_spending = school_data_complete.groupby("Spending Ranges")

# get averages
avg_math = school_summary_by_spending['math_score'].mean()
avg_read = school_summary_by_spending['reading_score'].mean()
 
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('Spending Ranges')['Student ID'].count()/school_summary_by_spending['Student ID'].count()*100
pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('Spending Ranges')['Student ID'].count()/school_summary_by_spending['Student ID'].count()*100

overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('Spending Ranges')['Student ID'].count()/school_summary_by_spending['Student ID'].count()*100

In [90]:
summary_table_bins = pd.DataFrame({
                                    "Average Math Score": avg_math,
                                    "Average Reading Score": avg_read,
                                    "% Passing Math":pass_math,
                                    "% Passing Reading": pass_read,
                                    "% Overall Passing Rate":overall 
                                    })
summary_table_bins.index.name = "Spending Ranges (Per Student)"
summary_table_bins = summary_table_bins.reindex(group_names)
summary_table_bins

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.363065,83.964039,93.702889,96.686558,90.640704
$585-615,83.529196,83.838414,94.124128,95.886889,90.121190
$615-645,78.061635,81.434088,71.400428,83.614770,60.289317
$645-675,77.049297,81.005604,66.230813,81.109397,53.528791

## Scores by School Size

* Perform the same operations as above, based on school size.

In [91]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [92]:
school_data_complete['size_bins'] = pd.cut(school_data_complete['size'], size_bins, labels = group_names)

# group by size
by_size = school_data_complete.groupby('size_bins')

# get averages 
avg_math = by_size['math_score'].mean()
avg_read = by_size['math_score'].mean()
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()*100
pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()*100
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()*100

In [93]:
# create dataframe            
scores_by_size = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
    })

scores_by_size.index.name = "School Size"
scores_by_size = scores_by_size.reindex(group_names)
scores_by_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Size,,,,,
Small (<1000),83.828654,83.828654,93.952484,96.040317,90.136789
Medium (1000-2000),83.372682,83.372682,93.616522,96.773058,90.624267
Large (2000-5000),77.477597,77.477597,68.652380,82.125158,56.574046

## Scores by School Type

* Perform the same operations as above, based on school type.

In [94]:
# group by school type
by_type = school_data_complete.groupby("type")

In [95]:
# get averages 
avg_math = by_type['math_score'].mean()
avg_read = by_type['math_score'].mean()
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()*100
pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()*100
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('type')['Student ID'].count()/by_type['Student ID'].count()*100

In [96]:
# create dataframe            
scores_by_type = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall})
scores_by_type.index.name = "School Type"
scores_by_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Type,,,,,
Charter,83.406183,83.406183,93.701821,96.645891,90.560932
District,76.987026,76.987026,66.518387,80.905249,53.695878